.container{
    align-items: flex;
    flex-wrap: wrap;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    background-color: coral;
}
.intro{
    background-image: url(../images/backgrounds/intro.jpg);
    text-align: center;
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    height: 764px;
    width: 650px;
    float: left;
}
.info{
    width: 400px;
    float: left;
    margin-left: 50px;
    text-align: center;
    margin-bottom: 50px;

}
.info img{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.pizza{ 
    text-align: center;
    margin-left: 100px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    text-align: center;
}
.column{
    float: left;
    width: 300px;
    padding: 10px;
    position: relative;
}
.column img{
    width: 250px;
    height: 200px;
}
.column:hover .image{
    opacity: 0.5;
}
.column:hover .hold{
    opacity: 1;
}
.hold {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text{
    border: 2px solid white;
    padding: 5px;
}
.order{
    margin-top: 50px;
    padding-bottom: 50px;
    height: auto;
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 100px;
    background-image: url(../images/backgrounds/order.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.order h3{
    padding-top: 50px;
    background-color: honeydew;
    padding-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
   
}
.food{
    padding-left: 150px;
}
.sizes{
    padding-left: 200px;
}
.topping{
    padding-left: 250px;
    margin-right: 200px;
}
.submit{
    margin-left: 500px;
}
